

.pagination {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    a {
      padding-bottom: 2px;
      color: #777;

      &:hover,
      &:focus {
        border-bottom: 2px solid #777;
      }
    }
    .active {
      color: $brand-primary;
      font-weight: 900;
      border-bottom: 2px solid $brand-primary;
    }

    .disabled {
      color: #bbb;
      cursor: not-allowed;
    }

    &+li {
      margin-left: 0.5rem;
    }
  }
}