/* ------------------------------------------------------------------------------------
 * CUSTOM CSS
 * --------------------------------------------------------------------------------- */

html {}
h1, h2, h3, h4, h5, h6 {
    margin: 60px 0 30px 0;
}
p { text-align: justify; }

.masthead-title > small { display: inline; }

.pagination-custom {
    padding: 0;
    margin: 1rem 0;
}
.pagination-custom .pagination-item-custom {
    list-style: none;
    text-decoration: none;
    float: left;
    padding: 12px;
    border-radius: 0.5em;
}
.posts > .post {
    margin-top: 2em;
    margin-bottom: 2em;
}
.posts > .post > h1 {
    margin-bottom: 8px;
    font-size: 1.5rem;
}
.posts > .post:first-child {
    margin-top: 0;
}
.posts .post-date {
    display: inline;
    margin-right: 0.5em;
    font-size: 0.9em;
}
.seperator {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.post img {
    margin-right: auto;
    margin-left: auto;
}

.post-title-custom {
    margin: 100px 0;
    font-size: 2.5rem;
}
.post-date-custom {}

.sidebar i:hover, .sidebar i:focus {  color: #fff;  }

#disqus_thread {  margin: 100px 0;  }

.wrap {
    min-height: 90vh;
    padding-bottom: 2em;
}
footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 7em;
    min-height: 10vh;
    background-color: #f9f9f9;
    /*border-top: 1px solid #e8e8e8;*/
    padding: 20px 0;
    font-size: 0.8em;
    font-family: "PT Sans", "Nanum Gothic", Helvetica, Arial, sans-serif;
}
