<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div id="nav-container" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" onclick="toggleNav()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar middle"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/" title="Home">
                    <h4>
                        {{ site.title }}
                        <small>{{ site.tagline }}</small>
                    </h4>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="/">홈</a></li>-->
                <!--<li><a href="/questions/create">질문하기</a></li>-->
                <!--</ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">about</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </div>
        </div><!-- /.container -->

        <div class="bg-white nav-wrapper">
            <div class="container no-padding-xs">
                <div class="nav-swipe-wrapper">
                    <ul id="toggle-nav" class="nav nav-pills nav-swipe">
                        <li class=""><a href="/">Home</a></li>
                        {% assign categories_list = site.categories %}
                        {% if categories_list.first[0] == null %}
                            {% for category in categories_list %}
                                <li><a href="/categories/#{{ category | downcase }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
                            {% endfor %}
                        {% else %}
                            {% for category in categories_list %}
                                <li><a href="/categories/#{{ category[0] | downcase }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
                            {% endfor %}
                        {% endif %}
                        {% assign categories_list = nil %}
                        <li class="devider"></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="/contact">contact</a></li>
                    </ul>
                    <!--<button class="nav-swipe-btn btn-icon hidden-md hidden-lg" @click="isExtended = !isExtended">-->
                    <!--<i v-if="!isExtended" class="icon icon-angle-down text-bold"></i>-->
                    <!--<i v-else class="icon icon-cancel text-bold"></i>-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </nav>
</header>
