
body {
    padding-top: 70px;
    background-color: #fff;

    @media (min-width: 769px) {
        padding-top: 100px;
        .row {
            display: flex;
        }
    }

    &.nav-open {
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #000;
            opacity: 0.65;
            z-index: 1000;
        }

        .navbar-default {
            .navbar-toggle {
                .icon-bar {
                    //opacity: 0;

                    &+.icon-bar {
                        margin-top: -2px;
                    }
                    //&:first-child {
                    //  transform: rotate(-45deg);
                    //}
                    //&.middle,
                    //&:last-child {
                    //  transform: rotate(45deg);
                    //}
                }
            }
        }

    }

    main {
        min-height: calc(100vh - 200px - 70px);

        @media (min-width: $screen-sm-min) {
            min-height: calc(100vh - 180px - 70px);
        }
        @media (min-width: $screen-md-min) {
            min-height: calc(100vh - 180px - 100px);
        }
    }

    //::selection {
    //  background-color: rgba(0, 0, 0, 0.7);
    //  color: #fff;
    //  text-shadow: none;
    //}
    //::-moz-selection {
    //  background-color: rgba(11, 228, 142, 0.7);
    //  color: #158581;
    //  text-shadow: none;
    //}
    //::-webkit-selection {
    //  background-color: rgba(11, 228, 142, 0.7);
    //  color: #158581;
    //  text-shadow: none;
    //}

    img {
        max-width: 100%;
    }

    footer {
        background-color: #efefef;
        margin-top: 2rem;
        padding: 3rem 0;
        font-size: 13px;
    }
}
