---
layout: default
---

<br><br>
<div class="row page-about">
  <div class="col-md-4">
    <!--<img src="/assets/images/profiles/udc.JPG" alt="" class="about-profile">-->
    <div class="about-profile hidden-xs hidden-sm" style="background-image: url('{{ site.author.profile }}')"></div>
  </div>
  <div class="col-md-8">
    <h1 class="page-title">{{ page.title }}</h1>
    <hr>
    <div class="about-profile hidden-md hidden-lg" style="background-image: url('{{ site.author.profile }}')"></div>
    {{ content }}
  </div>
  <!--<div class="col-md-1"></div>-->
</div>
