---
layout: adsense
---
<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
        {% include sidebar.html %}
    </div>
    <div class="col-md-8">
        <div class="post">
            <div class="post-header">
                <a href="/categories/#{{ page.category | downcase }}">
                    <span class="tag text-muted" style="color: #bbb;">{{ page.category }}</span>
                </a>
                <h1 class="post-title post-title-custom">{{ page.title }}</h1>
                <br>
                <time class="post-date post-date-custom">{{ page.date | date_to_string }}</time>
                <br class="hidden-sm hidden-md hidden-lg">
                <span class="post-date">
                    {% for tag in page.tags %}
                        <a href="/tags/#{{ tag }}" class="tag">#{{ tag }}</a>
                    {% endfor %}
                </span>
            </div>
            {% if page.image %}
                <br>
                <img src="{{ page.image }}" alt="">
            {% endif %}
            <hr>
            <div class="post-body">
                {{ content }}
            </div>

            {% include name-card.html %}
            {% include related-posts.html %}

            <br>
            <div id="disqus_thread"></div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="post-toc hidden-xs hidden-sm">
            <h5>CONTENTS</h5>
            {% include toc.html html=content %}
            <a href="#">top</a>
        </div>
    </div>
</div>

<!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC80ODg4Ni8yNTM4MA==">
    <script type="text/javascript">
        (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];

            if (typeof LivereTower === 'function') { return; }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
        })(document, 'script');
    </script>
    <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
</div>
<!-- 시티 설치 코드 끝 -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-587de3e67308213d"></script>
